* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  touch-action: none;
}

body {
  background: linear-gradient(90deg, #181818 60px, transparent 1%) center, linear-gradient(#181818 60px, transparent 1%) center, #505050;
  background-size: 62px 62px;
}

.video, .step {
  background-color: black;
  border-radius: 50%;
  border: 4px solid #ff1050;
  height: 200px;
  margin: 20px;
  position: absolute;
  width: 200px;
}

.step {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 40px;
  justify-content: center;
  border: 4px dotted darkslateblue;
}

canvas {
  height: 100vh;
  width: 100%;
}

.hand-emoji {
  bottom: 0;
  font-size: 80px;
  margin: 40px;
  position: absolute;
  right: 0;
}